<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="SourcePath" value="C:\SitecoreLocalTest\website"/>
        <add key="BackupPath" value="C:\Backups\Sites"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
