<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="SourcePath" value="C:\Websites\SitecoreWebsites\frontage_dev\Website"/>
        <add key="BackupPath" value="C:\Backups\Sites"/>
        <add key="FoldersToBackUp" value="bin|layouts|app_config|javascript|Content|css|scripts|Views"/>
        <add key="RootWildcards" value="*.config|*.css|*.html|*.aspx"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
